
.shared-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.buttons-top {
    display: flex;
    gap: 5vw
}

.home {
    margin-top: 5vh;
}

.active {
    background-color: white;
}